	body{
		margin: 0px;
	}
	#logo{
		top: 25px;
		left: 25px;
		width: 150px;
		height: 150px;
		position: fixed;
		z-index: 3;
	}
	#login{
		top: 225px;
		left: 0px;
		position: fixed;
		width: 200px;
		height: 70px;
		text-align: center;
		line-height: 1.9em;
		font-size: 1.2em;
	}
    #main {/*메인사진 넣을 곳*/
	    width: 1600px;
	    height: 1000px;
	    position: fixed;
    }
    #category{/*카테고리*/
        text-align: center;
	    top: 325px;
	    left: 0px;
        width: 200px;
        height: 500px;
	    position: fixed;
    }
    #photo {/*사진 메인화면*/
        background-color: white;
	    width: 1400px;
        height: 1700px;
	    top: 1000px;
	    left: 200px;
	    position: absolute;
    }
    #photo2 {/*카테고리 메인화면*/
	    width: 1400px;
	    height: 1700px;
	    left: 200px;
	    float: right;
	    position: absolute;
    }
    #explain{
		background-color: white;
		width: 1400px;
        height: 3500px;
		left: 200px;
		position: absolute;
	}
	#footer{
		width: 1700px;
		height: 100px;
		top: 2600px;
		position: absolute;
		text-align: center;
	}
	#footer2{
		width: 1700px;
		height: 100px;
		top: 1600px;
		position: absolute;
		text-align: center;
	}
	#footer3{
		width: 1700px;
		height: 100px;
		top: 3400px;
		position: absolute;
		text-align: center;
	}
	#toTop {
		position:fixed; bottom:1px;
		right:1px; cursor:pointer;
		-moz-border-radius:5px;
		-webkit-border-radius:5px; padding:5px
	}
	table{
		border-spacing: 100px 50px;
		text-align: center;
		margin: auto;
	}
	table.ex{
		border: 3px solid #444444;
		text-align: left;
	}

	#kakao {
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 5;
	}



    a:link {color: black;}
    a:visited {color: black;}
    a:hover {color: red;}
    a:active {color: red;}
    a{ text-decoration: none }
    ul.a {
	    list-style-type: none;
	    text-align: center;
	    padding: 0;
	    letter-spacing: 5px;
	}
