<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KingsMan/ACCESSORY</title>
    <link rel="stylesheet" type="text/css" href="../static/css/category.css">
</head>
<body>
    <div id="header">
        <a href="KingsMan.html" style= "color: black"><h1>KingsMan</h1></a>
    </div>
    <div id="photo">
        accessory<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div id="category">
        <ul class="a">
        <li><a href="{% url 'outer' %}">OUTER</a><br><br></li>
        <li><a href="{% url 'shirts' %}">SHIRTS</a><br><br></li>
        <li><a href="{% url 'pants' %}">PANTS</a><br><br></li>
        <li><a href="{% url 'shoes' %}">SHOES</a><br><br></li>
        <li><a href="{% url 'accessory' %}">ACCESSORY</a><br><br></li>
        <li><a href="{% url 'search' %}">검색</a><br><br></li>
        <li><a href="{% url 'cart' %}">장바구니</a><br><br></li>
        <li><a href="{% url 'question' %}">Q&A</a><br><br></li>
        <li><a href="{% url 'login' %}">로그인</a><br><br></li>
        <li><a href="{% url 'join' %}">회원가입</a><br><br></li>
        <li><a href="{% url 'game' %}">GAME</a></li>
        </ul>
    </div>
    <div id="information">
        제일 하단에 표시될 화면임<br>
        회사 정보<br>
        주소 <br>
        전화번호<br>
        입금계좌 등...<br>
        d<br>
        d<br>
    </div>
</body>
</html>