{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KingsMan</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/category.css" %}">

    <!-- jQuery 라이브러리 참조 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script><!--제이쿼리 최신버전 사용-->

    <!-- plugin 참조 -->
    <script type="text/javascript" src="plugins/cookie/jquery.cookie.js"></script>
    <style>
        .pop_lay a{
            color:blue;
            text-decoration: none;
            font-weight: 700;
        }

        .pop_lay a:hover{
            color:red;
        }

        .pop_lay{
            width:406px;
            height:467px;
            position:fixed;
            top:200px; left:200px;
            padding:0px;
            border:2px solid black;
            background-color: #ffffdd;
        }

        .pop_lay h1{
            text-align: center;
        }

        .pop_lay p{
            font-size:12px;
        }

        .pop_lay .footer{
            position:absolute;
            right: 0; bottom: 0;
            width:100%;
            text-align: right;
            background-color: #d4d4d4;
        }
    </style>

    <script>
        $(document).ready(function(){
            // 저장된 쿠키값이 Y가 아니라면 팝업창을 생성
            if ($.cookie("nopopup") != "Y") {
                $(".pop_lay").css('display','block');
            }else{
                $(".pop_lay").css('display','none');
            }

            // 저장된 쿠키 "nopopup" 값을 "Y"로 변경하고 페이지를 리로드
            $("#clear_option").click(function(){

                // 링크의 페이지 이동 속성 강제 차단
                event.preventDefault();
                // 쿠키값을 "N"으로 변경
                $.cookie("nopopup", "N");
                // 페이지 리로드
                window.location.reload();
            });
        });
    </script>

</head>
<body>
    <div id="kakao">
        <a href="https://open.kakao.com/o/sjJyKu4" target="_blank"><img src="/static/img/kakao.png"></a>
    </div>

    <div id="logo">
		<a href="/"><img src="/static/img/home.jpg" width="100%" height="100%"></a>
	</div>
    <div id="main">
        <img src="/static/img/background1.jpg" width="1600px" height="1000px">
    </div>
    <div id="login">
        {% if user.is_authenticated %}
            <p>{{ user.username }} 님<br>
                <a href="{% url 'logoutF' %}">LOGOUT</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">LOGIN</a></p>
        {% endif %}
    </div>
    <div id="category">
        <br>
        <ul class="a">
        <li><a href="{% url 'outer' %}">OUTER</a><br><br></li>
        <li><a href="{% url 'shirts' %}">SHIRTS</a><br><br></li>
        <li><a href="{% url 'pants' %}">PANTS</a><br><br></li>
        <li><a href="{% url 'shoes' %}">SHOES</a><br><br></li>
        <li><a href="{% url 'accessory' %}">ACCESSORY</a><br><br></li>
        <li><a href="{% url 'cart' %}">CART</a><br><br></li>
        </ul>
    </div>
    <script>
         $(document).ready(function(){
             // 닫기 버튼 클릭시
             $("#close").click(function(){
                 // 링크의 페이지 이동 속성 강제 차단
                 event.preventDefault();
                 if ($('#nopopup').is(":checked")){
                     // 쿠키값을 "Y"로 하여 하루동안 저장시킴
                     $.cookie("nopopup", "Y", {
                         expires : 1
                     });
                 }
                 // 팝업창 닫기
                 $(".pop_lay").css('display','none');
             });
         });
    </script>
    <div class="pop_lay">
        <img src="/static/img/123.jpg">
        <div class="footer">
            <label for="nopopup"> 오늘 하루 이 창 열지 않음 </label>
            <input type="checkbox" id="nopopup">
            <a href="#" id="close">닫기</a>
        </div>
    </div>

    <ul>
        <div id="photo" style="padding:20px ">
            <table><tr>
            {% for is_tr, product in mainList %}
                <td style="padding:20px ">
                <a href="{% url "item" itemnumber=product.code %}">
                    <img src="/img/{{ product.photo }}" width="300px" height="450px" >
                    <p style="text-align: center">{{ product.name }}<br>
                    {{ product.price }}원</p>
                </a></td>
                {% if is_tr %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
            </tr></table>
        </div>
    </ul>

    <a id="toTop" href="#"><img src="/static/img/top.png" width="70" height="70" alt=""></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="./images/jquery.scroll.pack.js"></script>
    <script src="./images/jquery.easing.js"></script>

    <div id="footer" style="position: absolute; right: 170px; background-color: white;">
        <ul style="list-style: none; text-align: right; ">
            <li style="display: inline-block; vertical-align: top; line-height: 16px; margin: 0 0 0 50px;">
                <div>
                    <h3 style="font-size: 25px;">
                    <a href="{% url 'question' %}" style="font-size: 23px;">Q&A</a>&emsp;
                    <a href="{% url 'game' %}">ⓖⓐⓜⓔ</a></h3>
                </div>
                <div>
                    <h5 style="font-size: 13px; color: #777; line-height: 15px; font-weight: normal;">
                    킹스맨&emsp;ㅣ&emsp;Owner:GNU CS Team&emsp;ㅣ&emsp;E-mail : Kingsman@naver.com<br><br><b style="color: black;">경상대학교 컴퓨터과학과</b>&emsp;ㅣ&emsp;660 경남 진주시 가좌동 경상대학교 30동</h5>
                </div>
                <div>
                    <h3 style="font-size: 14px;">
                        반품시 주소
                    </h3>
                </div>
                <div>
                    <h5>CJ대한통운 반품시 : <b style="color: grey; font-size: 13px;">경상남도 진주시 진주대로 501 경상대학교 30동 2층 (킹스맨)</b><br><b style="color: #CC3D3D; font-size: 13px;">*타택배 반품시 주소동일 무조건 선불</b></h5>
                </div>
            </li>
            <li style="display: inline-block; vertical-align: top; line-height: 16px; margin: 0 0 0 50px;">
                <div>
                    <h3 style="font-size: 14px;">
                        고객센터
                    </h3>
                    <h4>
                        TEL.055-772-1380
                    </h4>
                </div>
                <div>
                    <h5 style="font-size: 10px; color: #777; line-height: 15px; font-weight: normal;">
                        WEEKDAYS, AM 10:00 ~ PM 5:00<br>LUNCH, PM 12:00 ~ PM 01:00<br>SAT, SUN, HOLIDAY OFF
                    </h5>
                </div>
                <div>
                    <h3 style="font-size: 14px;">
                        입금계좌
                    </h3>
                </div>
                <div>
                    <span style="font-size: 12px; color: #333; font-weight: normal; line-height: 20px;">농협</span>
                    <b>302-2820-4878-11</b><br>
                    <span style="font-size: 12px; color: #333; font-weight: normal; line-height: 20px;">예금주</span>
                    <b>CS킹스맨</b>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>