<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="../static/css/css.css">
    <style>
        #login {/*로그인*/
            display: table-cell;
            background-color: darksalmon;
            width: 80%;
            height: 90%;
            float: right;
        }
    </style>
</head>
<body>
    <div id="header">
        <a href="KingsMan.html" style= "color: black"><h1>KingsMan</h1></a>
    </div>
    <div id="login">
        <form action="login.asp" method="post">
            아이디: <input type="text"><br/><br/>
            비밀번호: <input type="password"><br/><br/>
            <input type="submit" value="로그인">
         </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div id="category">
        <ul class="a">
        <li><a href="{% url 'outer' %}">OUTER</a><br><br></li>
        <li><a href="{% url 'shirts' %}">SHIRTS</a><br><br></li>
        <li><a href="{% url 'pants' %}">PANTS</a><br><br></li>
        <li><a href="{% url 'shoes' %}">SHOES</a><br><br></li>
        <li><a href="{% url 'accessory' %}">ACCESSORY</a><br><br></li>
        <li><a href="{% url 'game' %}">GAME</a><br><br></li>
        <li><a href="{% url 'search' %}">검색</a><br><br></li>
        <li><a href="{% url 'cart' %}">장바구니</a><br><br></li>
        <li><a href="{% url 'question' %}">Q&A</a><br><br></li>
        <li><a href="{% url 'login' %}">로그인</a><br><br></li>
        <li><a href="{% url 'join' %}">회원가입</a></li>
    </div>
    <div id="information">
        <p>주소 : 경상대학교 30동<br><br>입금계좌<br>농협 000-0000-0000-00<br><br>전화번호<br>010-1234-5678</p>
    </div>
</body>
</html>