        #header {/*홈페이지 이름*/
            background-color: aquamarine;
            text-align: center;
            width: 20%;
            height: 10%;
            float: left;
        }
        #main {/*메인사진 넣을 곳*/
            display: table-cell;
            background-color: darkgoldenrod;
            width: 80%;
            height: 10%;
            float: right;
        }
        #category{/*카테고리*/
            display: table-cell;
            text-align: center;
            background-color: beige;
            width: 20%;
            height: 50%;
            float: left;
        }
        #photo {/*사진 메인화면*/
            display: table-cell;
            background-color: darksalmon;
            width: 80%;
            height: 70%;
            float: right;
        }
        #theothers {/*장바구니 검색 로그인 회원가입 Q&A*/
            display: table-cell;
            text-align: center;
            background-color: blue;
            width: 20%;
            height: 40%;
            float: left;
        }
        #information{/*회사 정보*/
            display: table-cell;
            background-color: yellow;
            width: 80%;
            height: 20%;
            float: right;
        }
        #game{/*게임*/
            display: table-cell;
            text-align: center;
            background-color: gray;
            width: 20%;
            height: 10%;
            float: left;
            }
        a:link {color: black;}
        a:visited {color: black;}
        a:hover {color: red;}
        a:active {color: red;}
        a{ text-decoration: none }

        /*img {
            float: left;
            width: 300px;
            height: 450px;
        }*/